*{
  box-sizing: border-box;
}

html {
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  text-align: left;
  background-color: #ffffff;
  overflow-x: hidden;
}

.none {
  display: none;
}

.about-img {
  margin-left: -100px;
  right: -60px;
  margin-top: 30px;
}

.btn {
  padding: 10px 25px;
  border-radius: 100px;
}

.btn-white {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.btn-blue {
  border: 2.4px solid #ffffff;
  color: #ffffff;
}

.hero-text {
  margin-top: 150px;
}

.position-absolute {
  font-weight: 700;
}

/* NAVBAR */

.navbar-light {
  display: none;
  height: 110px;
}

.navbar-light .navbar-nav .nav-link {
  padding: 25px 10px;
  color: #343a40;
  font-weight: 500;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #AA2C42;
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
  }
}

@media (max-width: 650px)
{
  .profissionais {
    font-size: 50px;
  }
  .law-firm {
    font-size: 50px;
  }
  .servicos{
    font-size: 50px;
  }
  .clientes{
    font-size: 50px;
  }
  .contato_titulo{
    font-size: 50px;
  }
}

/* =================== Service Section ==================*/
.service-h4{
  padding-bottom: 30px;
}

.service-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}

.service-box{
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);  
  margin-left: 20px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
.service-box:hover{
  box-shadow: 0px 1px 13px rgba(27, 27, 27, 0.705); 
 
}

/* ====================== Testimonial ================*/
.testimonial-carousel .text-center{
  background-color: #eaecf0d0;
  border-radius: 20px;
  margin: 20px;

}
.testimonial-carousel .text-center h4{

}

.testimonial-carousel .owl-dots {
  margin-top: 25px;
  text-align: center;
}

.testimonial-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: #dddddd;
}

.testimonial-carousel .owl-dot.active {
  background: #AA2C42;
}



/* ========================== Contact Us ========================*/

.contact-form .help-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*====================== Back to buttom ==================*/

.scroll-to-bottom {
  position: fixed;
  width: 20px;
  left: calc(50% - 10px);
  bottom: 30px;
  z-index: 11;
  animation: action 1s infinite alternate;
}

.back-to-top {
  position: fixed;
  display: none;
  width: 30px;
  text-align: center;
  right: 30px;
  bottom: 30px;
  z-index: 11;
  animation: action 1s infinite alternate;
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}